:root {
}

@font-face {
	font-family: 'Raleway';
	src: url(/Raleway-Regular.ttf);
	font-display: block;
}

* {
	color: inherit;
	font: inherit;
	line-height: 1.2;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

*,
:before,
*:after {
	box-sizing: border-box;
}

*:where(:active, :focus, :hover) {
	outline: 0;
}

html {
	font-family: 'Raleway';
	hanging-punctuation: first last;
}

body {
	min-height: 100svh;
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

h1 {
	font-size: 2rem;
}

p {
	max-width: 72ch;
	text-wrap: pretty;
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
	:has(:target) {
		scroll-behavior: smooth;
		scroll-padding-top: 1rem;
	}
}
